@{
    ViewData["Title"] = "About Us";
}

<div>
    <h1 class="my-3">@ViewData["Title"]</h1>
    <div class="full-width bg-secondary-subtle">
        <div class="container d-flex gap-5 py-5">
            <img style="width: 375px; height: 375px; object-fit: cover; object-position: center" src="~/images/diy.webp" />
            <div style="text-align: justify !important;">
                <p>Welcome to Craftify, your gateway to a world of creativity and endless possibilities. Whether you’re a seasoned quilter, avid knitter, or a curious cake decorator, we’re here to fuel your passion, ignite your imagination, and help you discover the joy of bringing your ideas to life.</p>
                <p>Our passionate instructors are dedicated to helping you succeed, one creative step at a time. With over 2,000 expert-led classes in more than 20 categories, Craftsy is your go-to destination for unlocking new skills, mastering your craft, and discovering the power of inspiration — all from the comfort of your own home.</p>
                <p>Craftify is more than just a library of classes, projects, and recipes — we’re a vibrant community of makers, doers, and dreamers just like you. Connect with fellow enthusiasts, share your projects, and be inspired by others who share your creative spirit.</p>
                <p>So, are you ready to take the plunge into a world of imagination, learning, and endless creativity? It all starts with a click.</p>
                <p>Learn more about becoming a Craftify member, and let your creativity shine like never before! Your next masterpiece is just waiting to be created.</p>
            </div>
        </div>
    </div>
    <div class="full-width bg-light">
        <div class="container d-flex gap-5 py-5">
            <div style="text-align: justify !important;">
                <p>Discover a treasure trove of crafting tools and materials meticulously curated to enhance your artistic journey. From top-quality yarns to precision cutting tools, we’ve got everything you need to turn your creative visions into tangible art.</p>
                <p>Our online store offers a diverse range of products tailored for all levels of expertise. Whether you’re starting your first project or are looking to tackle more complex challenges, find all your essentials in one place.</p>
                <p>Shop with us and experience the convenience of having your crafting supplies delivered right to your doorstep. Embark on your next crafting adventure with Craftify, where your creative potential knows no bounds.</p>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <img style="width: 300px; height: 300px; object-fit: cover; object-position: center" src="~/gifs/giphy.gif" />
            </div>
        </div>
    </div>
    <div class="full-width bg-secondary-subtle">
        <div class="container d-flex gap-5 mb-5 py-5">
            <img style="width: 225px; height: 225px;" src="~/images/craneSVG.svg" />
            <div style="text-align: justify !important;">
                <p>Join our Craftify Community today and be part of a growing network of creators who support and inspire each other in all things craft. Participate in community challenges, attend live workshops, and enjoy member-exclusive events designed to bring creative minds together.</p>
                <p>Whether you’re looking to make new friends, share your latest project, or learn from the experiences of others, our community is here to welcome you with open arms. Together, we create, we inspire, and we grow.</p>
                <p>Become a member now and start your journey with a community that celebrates creativity and encourages individual expression. Your place among fellow creators awaits!</p>
            </div>
        </div>
    </div>
</div>
