@model DIY_Site.Models.CategoryDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div style="min-height: 75vh">
    <div class="d-flex gap-3 align-items-center mb-4 mt-5">
        <div style="padding: 12px; aspect-ratio: 1 / 1; display:flex; justify-content:center; align-items:center; border: 1px solid black; border-radius: 100%;">
            <i class="fa-solid @Model.Category.Icon"></i>
        </div>
        <h4>@Model.Category.Name</h4>
    </div>
    <hr />

    <h4 class="mt-5">Projects in @Model.Category.Name</h4>
    <div class="d-flex justify-content-start flex-wrap align-items-center mb-5">  
    @foreach (var project in Model?.Projects)
        {
            <div class="d-flex gap-5 w-100 flex-row-reverse mt-4" style="max-width: 25%">
                <a asp-action="Details" asp-controller="Projects" asp-route-id="@project?.Id" class="project-hover text-dark text-decoration-none">
                    <div class="card w-100" style="overflow: hidden">
                        <img src="~/images/@project?.ThumbnailURL" class="card-img-top" alt="..." loading="lazy" style="object-fit: cover; object-position: center; width: 100%; aspect-ratio: 1 / 1">
                        <div class="card-body d-flex justify-content-between bg-white align-items-center" style="z-index: 10">
                            <h5 class="card-title" style="text-align: left !important">@project.Name</h5>
                            <a href="#" class="btn btn-primary">Read Article</a>
                        </div>
                    </div>
            </a>
            </div>
        }
    </div>
    <div class="mb-5">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary text-light ms-3">Back to Home</a>
    </div>
</div>

